.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__cyW9M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/planty/images/leafLightGreysvg.svg") left 0% bottom 46.89% / 2127px 1989px
    repeat;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cyW9M {
    background: url("/plasmic/planty/images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox__joMh5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__joMh5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__joMh5 > :global(.__wab_flex-container) > *,
.freeBox__joMh5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__joMh5 > :global(.__wab_flex-container) > picture > img,
.freeBox__joMh5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.store {
  position: relative;
  color: var(--token-yCchoBO7S);
}
.store2 {
  position: relative;
  color: var(--token-yCchoBO7S);
}
.stdLink:global(.__wab_instance) {
  position: relative;
}
.header2__hlCk5:global(.__wab_instance) {
  margin-top: 0px;
  width: 1300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2__hlCk5:global(.__wab_instance) {
    margin-top: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__kJ9Hv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  min-width: 0;
  padding: 128px 32px 250px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kJ9Hv {
    padding-top: 130px;
    padding-bottom: 220px;
  }
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__fL0Il {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__fL0Il > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__fL0Il > :global(.__wab_flex-container) > *,
.freeBox__fL0Il > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fL0Il > :global(.__wab_flex-container) > picture > img,
.freeBox__fL0Il
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fL0Il > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fL0Il > :global(.__wab_flex-container) > *,
  .freeBox__fL0Il > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fL0Il > :global(.__wab_flex-container) > picture > img,
  .freeBox__fL0Il
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-kH5VOkXvwiilsT);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
  }
}
.freeBox___4OVL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 507px;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4OVL {
    position: relative;
  }
}
.text___0G50V {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0G50V {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__pt8Zs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: none;
}
.freeBox__pt8Zs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pt8Zs > :global(.__wab_flex-container) > *,
.freeBox__pt8Zs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pt8Zs > :global(.__wab_flex-container) > picture > img,
.freeBox__pt8Zs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mp1X7 {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2__s3Tzj:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2__s3Tzj:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__u70Qp {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__ieJj6 {
  position: relative;
}
.columns__me7Q {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__me7Q > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__me7Q > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__me7Q > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__me7Q > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__me7Q > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__me7Q > :global(.__wab_flex-container) > *,
.columns__me7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__me7Q > :global(.__wab_flex-container) > picture > img,
.columns__me7Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__me7Q {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__me7Q > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__me7Q > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__me7Q > :global(.__wab_flex-container) > *,
  .columns__me7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__me7Q > :global(.__wab_flex-container) > picture > img,
  .columns__me7Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__avqlD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__s1Rt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__s1Rt:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__bPkGv {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bPkGv > picture > img {
  object-fit: cover;
}
.img__bPkGv > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__ftw3J:global(.__wab_instance) {
  position: relative;
}
.column__blAkb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__dVKg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__yq1CE {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yq1CE > picture > img {
  object-fit: cover;
}
.img__yq1CE > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__w3FVp:global(.__wab_instance) {
  position: relative;
}
.column__rpo7D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__u52S9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rx3CJ {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__rx3CJ > picture > img {
  object-fit: cover;
}
.img__rx3CJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___11Kek:global(.__wab_instance) {
  position: relative;
}
.column___8VmIs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___47ObJ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___5Vu4F {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5Vu4F > picture > img {
  object-fit: cover;
}
.img___5Vu4F > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___2D5Mo:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__lhr7R {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__oWWvH {
  position: relative;
  color: var(--token-EG03jkGc2nLP5d);
  font-size: 30px;
  font-weight: 500;
}
.columns__aCWj {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__aCWj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__aCWj > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__aCWj > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__aCWj > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__aCWj > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__aCWj > :global(.__wab_flex-container) > *,
.columns__aCWj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aCWj > :global(.__wab_flex-container) > picture > img,
.columns__aCWj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCWj {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCWj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCWj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCWj > :global(.__wab_flex-container) > *,
  .columns__aCWj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aCWj > :global(.__wab_flex-container) > picture > img,
  .columns__aCWj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__t9HqQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___6VdQc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__agkmt {
  height: auto;
}
.text___0QIv {
  height: auto;
}
.img__slFcL {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__slFcL > picture > img {
  object-fit: cover;
}
.img__slFcL > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__pOp3X:global(.__wab_instance) {
  position: relative;
}
.column__ry6OT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__nRbR:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___1MK9B {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___1MK9B > picture > img {
  object-fit: cover;
}
.img___1MK9B > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__tmoJz:global(.__wab_instance) {
  position: relative;
}
.column__kIt9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__wgvdI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___3SiT {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___3SiT > picture > img {
  object-fit: cover;
}
.img___3SiT > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___0W103:global(.__wab_instance) {
  position: relative;
}
.column__lHcWu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__dd78E:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__dd78E:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__t9JpE {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__t9JpE > picture > img {
  object-fit: cover;
}
.img__t9JpE > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__osGdJ:global(.__wab_instance) {
  position: relative;
}
.freeBox__vHMG {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__s5Uj {
  position: relative;
  color: var(--token-EG03jkGc2nLP5d);
  font-size: 30px;
  font-weight: 500;
}
.columns__wRl6O {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__wRl6O > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__wRl6O > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wRl6O > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wRl6O > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wRl6O > :global(.__wab_flex-container) > *,
.columns__wRl6O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wRl6O > :global(.__wab_flex-container) > picture > img,
.columns__wRl6O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wRl6O {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wRl6O > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wRl6O > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column___5Ov2J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___5AeC1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___9Qha1 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___9Qha1 > picture > img {
  object-fit: cover;
}
.img___9Qha1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__p2XWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__boBa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__jKBk {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jKBk > picture > img {
  object-fit: cover;
}
.img__jKBk > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__lAwX8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__lKaHd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__eeGep {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__eeGep > picture > img {
  object-fit: cover;
}
.img__eeGep > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__gsZ41 {
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-q0EtyaDJgUWi9Z);
  display: none;
  padding: 48px;
}
.freeBox__gsZ41 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gsZ41 > :global(.__wab_flex-container) > *,
.freeBox__gsZ41 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gsZ41 > :global(.__wab_flex-container) > picture > img,
.freeBox__gsZ41
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__mUuYf {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__mUuYf > picture > img {
  object-fit: cover;
}
.img__mUuYf > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xGuMm {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__xGuMm > picture > img {
  object-fit: cover;
}
.img__xGuMm > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___85496 {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img___85496 > picture > img {
  object-fit: cover;
}
.img___85496 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__sLowr {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__sLowr > picture > img {
  object-fit: cover;
}
.img__sLowr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__itDqo {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__itDqo > picture > img {
  object-fit: cover;
}
.img__itDqo > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer__wkMfC:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kQwD {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kQwD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kQwD > :global(.__wab_flex-container) > *,
.freeBox__kQwD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kQwD > :global(.__wab_flex-container) > picture > img,
.freeBox__kQwD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__z4QVm {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-nOp9xBqDo_ZvMl);
}
.columns__oTiHw {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__oTiHw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__oTiHw > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__oTiHw > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__oTiHw > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__oTiHw > :global(.__wab_flex-container) > *,
.columns__oTiHw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oTiHw > :global(.__wab_flex-container) > picture > img,
.columns__oTiHw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oTiHw {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oTiHw > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oTiHw > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column___6PMjs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___6PMjs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___6PMjs > :global(.__wab_flex-container) > *,
.column___6PMjs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___6PMjs > :global(.__wab_flex-container) > picture > img,
.column___6PMjs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__sNcGq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__sNcGq > picture > img {
  object-fit: cover;
}
.img__sNcGq > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___745N4 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__fzW8 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__lUIpI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__kt3Jz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text___8CpMo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__yCIm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__nq0A8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__nq0A8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__nq0A8 > :global(.__wab_flex-container) > *,
.column__nq0A8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__nq0A8 > :global(.__wab_flex-container) > picture > img,
.column__nq0A8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__dV7Sh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__dV7Sh > picture > img {
  object-fit: cover;
}
.img__dV7Sh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xnkre {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__wju9Y {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__bUsy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__hPbN1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__rrtJa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__wbSiz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__oxIy5 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__oxIy5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__oxIy5 > :global(.__wab_flex-container) > *,
.column__oxIy5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__oxIy5 > :global(.__wab_flex-container) > picture > img,
.column__oxIy5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__rc5Rj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__rc5Rj > picture > img {
  object-fit: cover;
}
.img__rc5Rj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___1YQsD {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___3LfAj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__yaCpt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__cPk8Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__scuVm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5___4AvQl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.img___1LThs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___1LThs > picture > img {
  object-fit: cover;
}
.img___1LThs > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__slzPv {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__oSdkj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__qTkof {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__kFaDs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__tLu9W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__bsLpL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dvIUd {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dvIUd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dvIUd > :global(.__wab_flex-container) > *,
.freeBox__dvIUd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dvIUd > :global(.__wab_flex-container) > picture > img,
.freeBox__dvIUd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__s6Cn9 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-nOp9xBqDo_ZvMl);
}
.columns__a3LAv {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__a3LAv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__a3LAv > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__a3LAv > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__a3LAv > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__a3LAv > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__a3LAv > :global(.__wab_flex-container) > *,
.columns__a3LAv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__a3LAv > :global(.__wab_flex-container) > picture > img,
.columns__a3LAv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a3LAv {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a3LAv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a3LAv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__gxkE0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__gxkE0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__gxkE0 > :global(.__wab_flex-container) > *,
.column__gxkE0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gxkE0 > :global(.__wab_flex-container) > picture > img,
.column__gxkE0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__rktzS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__rktzS > picture > img {
  object-fit: cover;
}
.img__rktzS > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__gW6Gt {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__befbx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___8OOJd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__p7En {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__bg6Xd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__c9Nv2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column___8DehD {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___8DehD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___8DehD > :global(.__wab_flex-container) > *,
.column___8DehD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___8DehD > :global(.__wab_flex-container) > picture > img,
.column___8DehD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__qkQfv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__qkQfv > picture > img {
  object-fit: cover;
}
.img__qkQfv > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lr26Y {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__kZods {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__mwlNm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__tJp7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__vzJpL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__fWMtO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__in0Z8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__in0Z8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__in0Z8 > :global(.__wab_flex-container) > *,
.column__in0Z8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__in0Z8 > :global(.__wab_flex-container) > picture > img,
.column__in0Z8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__aAxYx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__aAxYx > picture > img {
  object-fit: cover;
}
.img__aAxYx > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__okCAl {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__i2M0J {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ng6P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__whUih {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__zHji {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5___3JgPd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column___9IIyS {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___9IIyS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___9IIyS > :global(.__wab_flex-container) > *,
.column___9IIyS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9IIyS > :global(.__wab_flex-container) > picture > img,
.column___9IIyS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___6Jwd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___6Jwd > picture > img {
  object-fit: cover;
}
.img___6Jwd > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__dh4Iu {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__nr1Pf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__iNpIq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__gok6L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text___39S07 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__lzS0F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.weLove {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: -150px;
  padding: 0px 0px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weLove {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 55px;
  }
}
.freeBox__zNGqy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__bBsQ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns__bBsQ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.columns__bBsQ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns__bBsQ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns__bBsQ > :global(.__wab_flex-container) > *,
.columns__bBsQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bBsQ > :global(.__wab_flex-container) > picture > img,
.columns__bBsQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bBsQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bBsQ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bBsQ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
.column__erTl0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__mAMzo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img__mAMzo > picture > img {
  object-fit: cover;
}
.img__mAMzo > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mAMzo {
    height: 400px;
    flex-shrink: 0;
  }
}
.column__dltcu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__dltcu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__dltcu > :global(.__wab_flex-container) > *,
.column__dltcu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__dltcu > :global(.__wab_flex-container) > picture > img,
.column__dltcu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dltcu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dltcu > :global(.__wab_flex-container) > *,
  .column__dltcu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__dltcu > :global(.__wab_flex-container) > picture > img,
  .column__dltcu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__ogLg {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 42px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ogLg {
    font-size: 32px;
  }
}
.text___9Urga {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9Urga {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.weThink {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding: 0px 0px 95px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weThink {
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.freeBox__p4Eb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns___6HuD3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns___6HuD3 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.columns___6HuD3 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns___6HuD3 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns___6HuD3 > :global(.__wab_flex-container) > *,
.columns___6HuD3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6HuD3 > :global(.__wab_flex-container) > picture > img,
.columns___6HuD3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6HuD3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6HuD3 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6HuD3 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
.column__mOp2I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__mOp2I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__mOp2I > :global(.__wab_flex-container) > *,
.column__mOp2I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mOp2I > :global(.__wab_flex-container) > picture > img,
.column__mOp2I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mOp2I > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mOp2I > :global(.__wab_flex-container) > *,
  .column__mOp2I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__mOp2I > :global(.__wab_flex-container) > picture > img,
  .column__mOp2I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__deyoi {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__deyoi {
    width: auto;
    height: auto;
    font-size: 32px;
    font-weight: 600;
    color: var(--token-kH5VOkXvwiilsT);
  }
}
.text__svVsd {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__svVsd {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    text-align: left;
    min-width: 0;
  }
}
.column__exi23 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.img___4UE11 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img___4UE11 > picture > img {
  object-fit: cover;
}
.img___4UE11 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4UE11 {
    width: 500px;
    height: 400px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.footer__vwug:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
