.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__bsYtW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/planty/images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bsYtW {
    background: url("/plasmic/planty/images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox__c8OaN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c8OaN {
    margin-top: 0px;
    background: url("/plasmic/planty/images/headerBannerMobilejpg.jpeg") top 0% left 50% / contain no-repeat;
  }
}
.img__ePEk2 {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img__ePEk2 > picture > img {
  object-fit: cover;
  object-position: left center;
}
.img__ePEk2 > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: left center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ePEk2 {
    display: none !important;
  }
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1300px;
}
.freeBox___3GmK8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 71px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3GmK8 {
    padding-top: 60px;
    padding-bottom: 81px;
    background: none;
  }
}
.link__w8B8W {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-YVuFqCj1C2zmeZ);
}
.link__w8B8W > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__w8B8W > :global(.__wab_flex-container) > *,
.link__w8B8W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__w8B8W > :global(.__wab_flex-container) > picture > img,
.link__w8B8W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__w8B8W {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: none;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px none var(--token-YVuFqCj1C2zmeZ);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__w8B8W > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__w8B8W > :global(.__wab_flex-container) > *,
  .link__w8B8W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__w8B8W > :global(.__wab_flex-container) > picture > img,
  .link__w8B8W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg___9KTgt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__vBzVu {
  width: auto;
  height: auto;
  color: var(--token-YVuFqCj1C2zmeZ);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vBzVu {
    font-size: 16px;
    width: auto;
    height: auto;
    color: var(--token-YVuFqCj1C2zmeZ);
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__d3Q25 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns__d3Q25 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.columns__d3Q25 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__d3Q25 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__d3Q25 > :global(.__wab_flex-container) > *,
.columns__d3Q25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__d3Q25 > :global(.__wab_flex-container) > picture > img,
.columns__d3Q25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d3Q25 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d3Q25 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d3Q25 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d3Q25 > :global(.__wab_flex-container) > *,
  .columns__d3Q25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__d3Q25 > :global(.__wab_flex-container) > picture > img,
  .columns__d3Q25
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.column___25C0J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__o87KM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__o87KM > picture > img {
  object-fit: cover;
}
.img__o87KM > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__ceOFm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__ceOFm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__ceOFm > :global(.__wab_flex-container) > *,
.column__ceOFm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ceOFm > :global(.__wab_flex-container) > picture > img,
.column__ceOFm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-kH5VOkXvwiilsT);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
}
.text__aGkFf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.h5__l9EzR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox__hzNe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__umPjj {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox___0Fa2S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Fa2S {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-row-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.link__r4Sjf {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-zt3_729qU_dBjo);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-YVuFqCj1C2zmeZ);
}
.link__r4Sjf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__r4Sjf > :global(.__wab_flex-container) > *,
.link__r4Sjf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__r4Sjf > :global(.__wab_flex-container) > picture > img,
.link__r4Sjf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__r4Sjf {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: var(--token-zt3_729qU_dBjo);
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-YVuFqCj1C2zmeZ);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__r4Sjf > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__r4Sjf > :global(.__wab_flex-container) > *,
  .link__r4Sjf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__r4Sjf > :global(.__wab_flex-container) > picture > img,
  .link__r4Sjf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.svg__di5X8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-YVuFqCj1C2zmeZ);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__mKjoO {
  width: auto;
  height: auto;
  color: var(--token-YVuFqCj1C2zmeZ);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mKjoO {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-YVuFqCj1C2zmeZ);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__rNc6Y {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: none;
}
.freeBox__rNc6Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rNc6Y > :global(.__wab_flex-container) > *,
.freeBox__rNc6Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rNc6Y > :global(.__wab_flex-container) > picture > img,
.freeBox__rNc6Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ziT1Z {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__oidT1 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__d7AX0 {
  position: relative;
}
.columns__iRkyj {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__iRkyj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__iRkyj > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__iRkyj > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__iRkyj > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__iRkyj > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__iRkyj > :global(.__wab_flex-container) > *,
.columns__iRkyj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__iRkyj > :global(.__wab_flex-container) > picture > img,
.columns__iRkyj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iRkyj {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iRkyj > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iRkyj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iRkyj > :global(.__wab_flex-container) > *,
  .columns__iRkyj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__iRkyj > :global(.__wab_flex-container) > picture > img,
  .columns__iRkyj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__llZnK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__aCldb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__aCldb:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__mOuE5 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__mOuE5 > picture > img {
  object-fit: cover;
}
.img__mOuE5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__mo3EJ:global(.__wab_instance) {
  position: relative;
}
.column__gYcOv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__qiRU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___3R9X {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___3R9X > picture > img {
  object-fit: cover;
}
.img___3R9X > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___1Te6P:global(.__wab_instance) {
  position: relative;
}
.column___00Yo5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___8Z3Le:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__xeDvM {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xeDvM > picture > img {
  object-fit: cover;
}
.img__xeDvM > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__sWmqK:global(.__wab_instance) {
  position: relative;
}
.column__sgEpx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__mor7X:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__iKovF {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__iKovF > picture > img {
  object-fit: cover;
}
.img__iKovF > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__u9CPd:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__abwps {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text___65CFl {
  position: relative;
  color: var(--token-EG03jkGc2nLP5d);
  font-size: 30px;
  font-weight: 500;
}
.columns__rHswZ {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__rHswZ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__rHswZ > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__rHswZ > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__rHswZ > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__rHswZ > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__rHswZ > :global(.__wab_flex-container) > *,
.columns__rHswZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rHswZ > :global(.__wab_flex-container) > picture > img,
.columns__rHswZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rHswZ {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rHswZ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rHswZ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rHswZ > :global(.__wab_flex-container) > *,
  .columns__rHswZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__rHswZ > :global(.__wab_flex-container) > picture > img,
  .columns__rHswZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__iwsqe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__ojkj7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__eDh2 {
  height: auto;
}
.text__sn2Lc {
  height: auto;
}
.img__eP58I {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__eP58I > picture > img {
  object-fit: cover;
}
.img__eP58I > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__fTokW:global(.__wab_instance) {
  position: relative;
}
.column__lzMS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__f5VCo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___1QkAt {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___1QkAt > picture > img {
  object-fit: cover;
}
.img___1QkAt > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__z2MlD:global(.__wab_instance) {
  position: relative;
}
.column__g9V3H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__cbtBf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__lruPc {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__lruPc > picture > img {
  object-fit: cover;
}
.img__lruPc > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__xfbSs:global(.__wab_instance) {
  position: relative;
}
.column__toBjC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__hdzvG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__hdzvG:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__vGWs {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vGWs > picture > img {
  object-fit: cover;
}
.img__vGWs > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__pdkX:global(.__wab_instance) {
  position: relative;
}
.freeBox__rizdw {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__ydMsG {
  position: relative;
  color: var(--token-EG03jkGc2nLP5d);
  font-size: 30px;
  font-weight: 500;
}
.columns__wbdS {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__wbdS > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__wbdS > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wbdS > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wbdS > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wbdS > :global(.__wab_flex-container) > *,
.columns__wbdS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wbdS > :global(.__wab_flex-container) > picture > img,
.columns__wbdS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wbdS {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wbdS > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wbdS > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__jVsDz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__vWuap:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__axj82 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__axj82 > picture > img {
  object-fit: cover;
}
.img__axj82 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__gjBEp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__dzDjt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__oM5Jg {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__oM5Jg > picture > img {
  object-fit: cover;
}
.img__oM5Jg > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__nJkR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__sv0NF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__p6DEv {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__p6DEv > picture > img {
  object-fit: cover;
}
.img__p6DEv > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__tzZer {
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-q0EtyaDJgUWi9Z);
  display: none;
  padding: 48px;
}
.freeBox__tzZer > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tzZer > :global(.__wab_flex-container) > *,
.freeBox__tzZer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tzZer > :global(.__wab_flex-container) > picture > img,
.freeBox__tzZer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__uhkT {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__uhkT > picture > img {
  object-fit: cover;
}
.img__uhkT > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vBpnp {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__vBpnp > picture > img {
  object-fit: cover;
}
.img__vBpnp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__c7DG2 {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__c7DG2 > picture > img {
  object-fit: cover;
}
.img__c7DG2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gAbO4 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__gAbO4 > picture > img {
  object-fit: cover;
}
.img__gAbO4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___21ElP {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img___21ElP > picture > img {
  object-fit: cover;
}
.img___21ElP > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer__vdlZ6:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ePzAh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ePzAh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ePzAh > :global(.__wab_flex-container) > *,
.freeBox__ePzAh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ePzAh > :global(.__wab_flex-container) > picture > img,
.freeBox__ePzAh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__sNn5Q {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-nOp9xBqDo_ZvMl);
}
.columns__qvaDz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__qvaDz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__qvaDz > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__qvaDz > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__qvaDz > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__qvaDz > :global(.__wab_flex-container) > *,
.columns__qvaDz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qvaDz > :global(.__wab_flex-container) > picture > img,
.columns__qvaDz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qvaDz {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qvaDz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qvaDz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column___1DpEs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___1DpEs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___1DpEs > :global(.__wab_flex-container) > *,
.column___1DpEs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___1DpEs > :global(.__wab_flex-container) > picture > img,
.column___1DpEs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__fjwkS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__fjwkS > picture > img {
  object-fit: cover;
}
.img__fjwkS > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lk1AD {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__gjIuK {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ytlfa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___8Bnk4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__pU3As {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5___2Lugo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__jlGi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__jlGi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__jlGi > :global(.__wab_flex-container) > *,
.column__jlGi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jlGi > :global(.__wab_flex-container) > picture > img,
.column__jlGi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__qXorK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__qXorK > picture > img {
  object-fit: cover;
}
.img__qXorK > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___2CzjR {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__t5PKj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__yRdQj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__xrBHy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text___5QrOv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__afzlr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__bmlsk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__bmlsk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__bmlsk > :global(.__wab_flex-container) > *,
.column__bmlsk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bmlsk > :global(.__wab_flex-container) > picture > img,
.column__bmlsk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__yfp6U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__yfp6U > picture > img {
  object-fit: cover;
}
.img__yfp6U > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___802J {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__ugQ0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__meWwn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__wx6KV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text___9JezG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5___9PIt4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.img__zeTjZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__zeTjZ > picture > img {
  object-fit: cover;
}
.img__zeTjZ > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__aHqT {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___93RZs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__r2ChL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__unufM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text___7Z2Ap {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__an9Iz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__oUa1N {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oUa1N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__oUa1N > :global(.__wab_flex-container) > *,
.freeBox__oUa1N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oUa1N > :global(.__wab_flex-container) > picture > img,
.freeBox__oUa1N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__gxBcd {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-nOp9xBqDo_ZvMl);
}
.columns__mkl0Z {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__mkl0Z > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__mkl0Z > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__mkl0Z > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__mkl0Z > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__mkl0Z > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__mkl0Z > :global(.__wab_flex-container) > *,
.columns__mkl0Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mkl0Z > :global(.__wab_flex-container) > picture > img,
.columns__mkl0Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkl0Z {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkl0Z > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkl0Z > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__pt5Ba {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__pt5Ba > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__pt5Ba > :global(.__wab_flex-container) > *,
.column__pt5Ba > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pt5Ba > :global(.__wab_flex-container) > picture > img,
.column__pt5Ba
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__nbClg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__nbClg > picture > img {
  object-fit: cover;
}
.img__nbClg > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yD53O {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___3CteV {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__s1Ylb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___6NjS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__v3No {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__zlOnf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__xDWu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__xDWu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__xDWu > :global(.__wab_flex-container) > *,
.column__xDWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xDWu > :global(.__wab_flex-container) > picture > img,
.column__xDWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__rs16S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__rs16S > picture > img {
  object-fit: cover;
}
.img__rs16S > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__wxCA {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__ojBh1 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__zo3Rr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__xTGj8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__cj9J5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__gpIYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__ryQWo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ryQWo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__ryQWo > :global(.__wab_flex-container) > *,
.column__ryQWo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ryQWo > :global(.__wab_flex-container) > picture > img,
.column__ryQWo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__fgwvU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__fgwvU > picture > img {
  object-fit: cover;
}
.img__fgwvU > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__p4V7P {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__oNaMc {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__mdpnY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__yfShv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__pynTb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__h8TE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.column__xpYy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__xpYy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__xpYy > :global(.__wab_flex-container) > *,
.column__xpYy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xpYy > :global(.__wab_flex-container) > picture > img,
.column__xpYy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__aSfOq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-dSJ4iuMuCkBucj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__aSfOq > picture > img {
  object-fit: cover;
}
.img__aSfOq > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___0Ai2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-YVuFqCj1C2zmeZ);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___1IXmd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zt3_729qU_dBjo);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__zAuPm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___1Ak6H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  font-size: 24px;
  min-width: 0;
}
.text__rVRoE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-kH5VOkXvwiilsT);
  min-width: 0;
}
.h5__ekr9F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kH5VOkXvwiilsT);
  line-height: 34px;
  min-width: 0;
}
.bestSellers {
  flex-direction: column;
  max-width: 1300px;
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  min-width: 0;
  margin: 0px 0px 60px;
}
.bestSellers > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bestSellers > :global(.__wab_flex-container) > *,
.bestSellers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bestSellers > :global(.__wab_flex-container) > picture > img,
.bestSellers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers {
    max-width: 1300px;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    min-width: 0;
    padding: 0px 20px 42px;
    margin: 0px 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers > :global(.__wab_flex-container) > *,
  .bestSellers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .bestSellers > :global(.__wab_flex-container) > picture > img,
  .bestSellers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___5DqLh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5DqLh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5DqLh > :global(.__wab_flex-container) > *,
.freeBox___5DqLh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5DqLh > :global(.__wab_flex-container) > picture > img,
.freeBox___5DqLh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5DqLh {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5DqLh > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5DqLh > :global(.__wab_flex-container) > *,
  .freeBox___5DqLh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5DqLh > :global(.__wab_flex-container) > picture > img,
  .freeBox___5DqLh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.h2__wlpyW {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-nOp9xBqDo_ZvMl);
}
.productRow:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productRow:global(.__wab_instance) {
    position: relative;
  }
}
.footer__uOrEe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
