.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__jcvtY {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__jcvtY > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__jcvtY > :global(.__wab_flex-container) > *,
.freeBox__jcvtY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jcvtY > :global(.__wab_flex-container) > picture > img,
.freeBox__jcvtY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jcvtY {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__gUrBh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__fkYoz {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__nPA {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nPA > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__nPA > :global(.__wab_flex-container) > *,
.freeBox__nPA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nPA > :global(.__wab_flex-container) > picture > img,
.freeBox__nPA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nPA {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nPA > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nPA > :global(.__wab_flex-container) > *,
  .freeBox__nPA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nPA > :global(.__wab_flex-container) > picture > img,
  .freeBox__nPA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__nPAhDxN0 {
    display: none;
  }
}
.link__vcZu4 {
  color: var(--token-YVuFqCj1C2zmeZ);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vcZu4 {
    font-size: 16px;
  }
}
.link__riU6 {
  color: var(--token-YVuFqCj1C2zmeZ);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__riU6 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-YVuFqCj1C2zmeZ);
  }
}
.link___7Wewr {
  color: var(--token-YVuFqCj1C2zmeZ);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7Wewr {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-YVuFqCj1C2zmeZ);
  }
}
.freeBox__iHhxF {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__iHhxF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__iHhxF > :global(.__wab_flex-container) > *,
.freeBox__iHhxF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iHhxF > :global(.__wab_flex-container) > picture > img,
.freeBox__iHhxF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___6I6Bo {
  position: relative;
  object-fit: cover;
  color: var(--token-YVuFqCj1C2zmeZ);
  width: 30px;
  height: 30px;
}
.root .svg___6I6Bo:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-YVuFqCj1C2zmeZ);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox__wOzkD {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__lpCc1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__qjHoc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__y7Bk1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___5XOzP:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__qeVvr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
