@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-jUUyhOsPXKa9GE: #384647;
  --plasmic-token-text: var(--token-jUUyhOsPXKa9GE);
  --token-EG03jkGc2nLP5d: rgb(97, 96, 96);
  --plasmic-token-heading: var(--token-EG03jkGc2nLP5d);
  --token-lvvivncTs4n1V9: rgb(95, 91, 87);
  --plasmic-token-border: var(--token-lvvivncTs4n1V9);
  --token-q0EtyaDJgUWi9Z: #f7f7f7;
  --plasmic-token-background: var(--token-q0EtyaDJgUWi9Z);
  --token-YVuFqCj1C2zmeZ: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-YVuFqCj1C2zmeZ);
  --token-aPKoVTR0k0HkaX: rgb(153, 141, 128);
  --plasmic-token-preheader: var(--token-aPKoVTR0k0HkaX);
  --token-zt3_729qU_dBjo: #88dd9b;
  --plasmic-token-green: var(--token-zt3_729qU_dBjo);
  --token-wIjPCWbSvSVYOt: 1.5;
  --plasmic-token-unnamed-style-token-2: var(--token-wIjPCWbSvSVYOt);
  --token-kH5VOkXvwiilsT: #273132;
  --plasmic-token-heading-2: var(--token-kH5VOkXvwiilsT);
  --token-nOp9xBqDo_ZvMl: #6b797a;
  --plasmic-token-heading-3: var(--token-nOp9xBqDo_ZvMl);
  --token-dSJ4iuMuCkBucj: 270px;
  --plasmic-token-product-height: var(--token-dSJ4iuMuCkBucj);
  --token-74JStz0PdtpJT3: #384647;
  --plasmic-token-header-meneu-color: var(--token-74JStz0PdtpJT3);
  --token-E7yZF873zVQ0EN: 749px;
  --plasmic-token-about-img: var(--token-E7yZF873zVQ0EN);
}

.plasmic_default_styles {
  --mixin-2z-Yebu_Tbsryc_font-family: "Montserrat";
  --mixin-2z-Yebu_Tbsryc_font-size: 16px;
  --mixin-2z-Yebu_Tbsryc_font-weight: 300;
  --mixin-2z-Yebu_Tbsryc_font-style: normal;
  --mixin-2z-Yebu_Tbsryc_color: #535353;
  --mixin-2z-Yebu_Tbsryc_text-align: left;
  --mixin-2z-Yebu_Tbsryc_text-transform: none;
  --mixin-2z-Yebu_Tbsryc_line-height: 1.7;
  --mixin-2z-Yebu_Tbsryc_letter-spacing: 0.2px;
  --mixin-2z-Yebu_Tbsryc_white-space: pre-wrap;
  --mixin-2z-Yebu_Tbsryc_user-select: text;
  --mixin-2z-Yebu_Tbsryc_text-decoration-line: none;
  --mixin-2z-Yebu_Tbsryc_text-overflow: clip;
  --mixin-C8qK1ze70D1TwG_color: var(--token-YVuFqCj1C2zmeZ);
  --mixin-C8qK1ze70D1TwG_font-family: "Open Sans";
  --mixin-C8qK1ze70D1TwG_font-weight: 700;
  --mixin-C8qK1ze70D1TwG_font-size: 64px;
  --mixin-C8qK1ze70D1TwG_line-height: 1.1;
  --mixin-8YPRyxSCZjEMsy_color: var(--token-6-9k9VEZ-);
  --mixin-8YPRyxSCZjEMsy_font-family: "Open Sans";
  --mixin-8YPRyxSCZjEMsy_font-weight: 600;
  --mixin-8YPRyxSCZjEMsy_font-size: 32px;
  --mixin-8YPRyxSCZjEMsy_letter-spacing: -1px;
  --mixin-xKLAArAA3GzMLz_font-size: 32px;
  --mixin-LCic9vCIEjC24N_font-family: "Inter";
  --mixin-LCic9vCIEjC24N_color: #000000;
  --mixin-LCic9vCIEjC24N_font-size: 16px;
  --mixin-LCic9vCIEjC24N_font-weight: 600;
  --mixin-LCic9vCIEjC24N_line-height: 1.5;
  --mixin-Nq4AD7mTOLVhFS_font-size: 24px;
  --mixin-Nq4AD7mTOLVhFS_color: var(--token-NEon4Y--Z);
  --mixin-Nq4AD7mTOLVhFS_font-weight: 600;
  --mixin-Nq4AD7mTOLVhFS_font-family: "Montserrat";
  --mixin-TTpq8rbUQIFoiX_font-size: 16px;
  --mixin-TTpq8rbUQIFoiX_color: var(--token-kH5VOkXvwiilsT);
  --mixin-TTpq8rbUQIFoiX_font-weight: 600;
  --mixin-TTpq8rbUQIFoiX_font-family: "Montserrat";
  --mixin-2HhP60s0cjyy4L_font-size: 24px;
  --mixin-2HhP60s0cjyy4L_color: #384647;
  --mixin-2HhP60s0cjyy4L_font-family: "Open Sans";
  --mixin-2HhP60s0cjyy4L_font-weight: 700;
  --mixin-_y1MZJo-tHVciU_border-left-color: #dddddd;
  --mixin-_y1MZJo-tHVciU_border-left-style: solid;
  --mixin-_y1MZJo-tHVciU_border-left-width: 3px;
  --mixin-_y1MZJo-tHVciU_color: #888888;
  --mixin-_y1MZJo-tHVciU_padding-left: 10px;
  --mixin-Bf8Lyu1g8cO9si_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Bf8Lyu1g8cO9si_border-bottom-color: #dddddd;
  --mixin-Bf8Lyu1g8cO9si_border-bottom-style: solid;
  --mixin-Bf8Lyu1g8cO9si_border-bottom-width: 1px;
  --mixin-Bf8Lyu1g8cO9si_border-left-color: #dddddd;
  --mixin-Bf8Lyu1g8cO9si_border-left-style: solid;
  --mixin-Bf8Lyu1g8cO9si_border-left-width: 1px;
  --mixin-Bf8Lyu1g8cO9si_border-right-color: #dddddd;
  --mixin-Bf8Lyu1g8cO9si_border-right-style: solid;
  --mixin-Bf8Lyu1g8cO9si_border-right-width: 1px;
  --mixin-Bf8Lyu1g8cO9si_border-top-color: #dddddd;
  --mixin-Bf8Lyu1g8cO9si_border-top-style: solid;
  --mixin-Bf8Lyu1g8cO9si_border-top-width: 1px;
  --mixin-Bf8Lyu1g8cO9si_border-bottom-left-radius: 3px;
  --mixin-Bf8Lyu1g8cO9si_border-bottom-right-radius: 3px;
  --mixin-Bf8Lyu1g8cO9si_border-top-left-radius: 3px;
  --mixin-Bf8Lyu1g8cO9si_border-top-right-radius: 3px;
  --mixin-Bf8Lyu1g8cO9si_font-family: "Inconsolata";
  --mixin-Bf8Lyu1g8cO9si_padding-bottom: 1px;
  --mixin-Bf8Lyu1g8cO9si_padding-left: 4px;
  --mixin-Bf8Lyu1g8cO9si_padding-right: 4px;
  --mixin-Bf8Lyu1g8cO9si_padding-top: 1px;
  --mixin--cYRjsR3-Yw_Cn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--cYRjsR3-Yw_Cn_border-bottom-color: #dddddd;
  --mixin--cYRjsR3-Yw_Cn_border-bottom-style: solid;
  --mixin--cYRjsR3-Yw_Cn_border-bottom-width: 1px;
  --mixin--cYRjsR3-Yw_Cn_border-left-color: #dddddd;
  --mixin--cYRjsR3-Yw_Cn_border-left-style: solid;
  --mixin--cYRjsR3-Yw_Cn_border-left-width: 1px;
  --mixin--cYRjsR3-Yw_Cn_border-right-color: #dddddd;
  --mixin--cYRjsR3-Yw_Cn_border-right-style: solid;
  --mixin--cYRjsR3-Yw_Cn_border-right-width: 1px;
  --mixin--cYRjsR3-Yw_Cn_border-top-color: #dddddd;
  --mixin--cYRjsR3-Yw_Cn_border-top-style: solid;
  --mixin--cYRjsR3-Yw_Cn_border-top-width: 1px;
  --mixin--cYRjsR3-Yw_Cn_border-bottom-left-radius: 3px;
  --mixin--cYRjsR3-Yw_Cn_border-bottom-right-radius: 3px;
  --mixin--cYRjsR3-Yw_Cn_border-top-left-radius: 3px;
  --mixin--cYRjsR3-Yw_Cn_border-top-right-radius: 3px;
  --mixin--cYRjsR3-Yw_Cn_font-family: "Inconsolata";
  --mixin--cYRjsR3-Yw_Cn_padding-bottom: 3px;
  --mixin--cYRjsR3-Yw_Cn_padding-left: 6px;
  --mixin--cYRjsR3-Yw_Cn_padding-right: 6px;
  --mixin--cYRjsR3-Yw_Cn_padding-top: 3px;
  --mixin-GXV6SEwfebaQbK_display: flex;
  --mixin-GXV6SEwfebaQbK_flex-direction: column;
  --mixin-GXV6SEwfebaQbK_align-items: stretch;
  --mixin-GXV6SEwfebaQbK_justify-content: flex-start;
  --mixin-GXV6SEwfebaQbK_list-style-position: outside;
  --mixin-GXV6SEwfebaQbK_padding-left: 40px;
  --mixin-GXV6SEwfebaQbK_position: relative;
  --mixin-GXV6SEwfebaQbK_list-style-type: decimal;
  --mixin-SW88okU20Kf5og_display: flex;
  --mixin-SW88okU20Kf5og_flex-direction: column;
  --mixin-SW88okU20Kf5og_align-items: stretch;
  --mixin-SW88okU20Kf5og_justify-content: flex-start;
  --mixin-SW88okU20Kf5og_list-style-position: outside;
  --mixin-SW88okU20Kf5og_padding-left: 40px;
  --mixin-SW88okU20Kf5og_position: relative;
  --mixin-SW88okU20Kf5og_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-2z-Yebu_Tbsryc_font-family);
  font-size: var(--mixin-2z-Yebu_Tbsryc_font-size);
  font-weight: var(--mixin-2z-Yebu_Tbsryc_font-weight);
  font-style: var(--mixin-2z-Yebu_Tbsryc_font-style);
  color: var(--mixin-2z-Yebu_Tbsryc_color);
  text-align: var(--mixin-2z-Yebu_Tbsryc_text-align);
  text-transform: var(--mixin-2z-Yebu_Tbsryc_text-transform);
  line-height: var(--mixin-2z-Yebu_Tbsryc_line-height);
  letter-spacing: var(--mixin-2z-Yebu_Tbsryc_letter-spacing);
  white-space: var(--mixin-2z-Yebu_Tbsryc_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-C8qK1ze70D1TwG_color);
  font-family: var(--mixin-C8qK1ze70D1TwG_font-family);
  font-weight: var(--mixin-C8qK1ze70D1TwG_font-weight);
  font-size: var(--mixin-C8qK1ze70D1TwG_font-size);
  line-height: var(--mixin-C8qK1ze70D1TwG_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-8YPRyxSCZjEMsy_color);
  font-family: var(--mixin-8YPRyxSCZjEMsy_font-family);
  font-weight: var(--mixin-8YPRyxSCZjEMsy_font-weight);
  font-size: var(--mixin-8YPRyxSCZjEMsy_font-size);
  letter-spacing: var(--mixin-8YPRyxSCZjEMsy_letter-spacing);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-size: var(--mixin-xKLAArAA3GzMLz_font-size);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-LCic9vCIEjC24N_font-family);
  color: var(--mixin-LCic9vCIEjC24N_color);
  font-size: var(--mixin-LCic9vCIEjC24N_font-size);
  font-weight: var(--mixin-LCic9vCIEjC24N_font-weight);
  line-height: var(--mixin-LCic9vCIEjC24N_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-size: var(--mixin-Nq4AD7mTOLVhFS_font-size);
  color: var(--mixin-Nq4AD7mTOLVhFS_color);
  font-weight: var(--mixin-Nq4AD7mTOLVhFS_font-weight);
  font-family: var(--mixin-Nq4AD7mTOLVhFS_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  font-size: var(--mixin-TTpq8rbUQIFoiX_font-size);
  color: var(--mixin-TTpq8rbUQIFoiX_color);
  font-weight: var(--mixin-TTpq8rbUQIFoiX_font-weight);
  font-family: var(--mixin-TTpq8rbUQIFoiX_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-size: var(--mixin-2HhP60s0cjyy4L_font-size);
  color: var(--mixin-2HhP60s0cjyy4L_color);
  font-family: var(--mixin-2HhP60s0cjyy4L_font-family);
  font-weight: var(--mixin-2HhP60s0cjyy4L_font-weight);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-_y1MZJo-tHVciU_color);
  padding-left: var(--mixin-_y1MZJo-tHVciU_padding-left);
  border-left: var(--mixin-_y1MZJo-tHVciU_border-left-width)
    var(--mixin-_y1MZJo-tHVciU_border-left-style)
    var(--mixin-_y1MZJo-tHVciU_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Bf8Lyu1g8cO9si_background);
  font-family: var(--mixin-Bf8Lyu1g8cO9si_font-family);
  border-radius: var(--mixin-Bf8Lyu1g8cO9si_border-top-left-radius)
    var(--mixin-Bf8Lyu1g8cO9si_border-top-right-radius)
    var(--mixin-Bf8Lyu1g8cO9si_border-bottom-right-radius)
    var(--mixin-Bf8Lyu1g8cO9si_border-bottom-left-radius);
  padding: var(--mixin-Bf8Lyu1g8cO9si_padding-top)
    var(--mixin-Bf8Lyu1g8cO9si_padding-right)
    var(--mixin-Bf8Lyu1g8cO9si_padding-bottom)
    var(--mixin-Bf8Lyu1g8cO9si_padding-left);
  border-top: var(--mixin-Bf8Lyu1g8cO9si_border-top-width)
    var(--mixin-Bf8Lyu1g8cO9si_border-top-style)
    var(--mixin-Bf8Lyu1g8cO9si_border-top-color);
  border-right: var(--mixin-Bf8Lyu1g8cO9si_border-right-width)
    var(--mixin-Bf8Lyu1g8cO9si_border-right-style)
    var(--mixin-Bf8Lyu1g8cO9si_border-right-color);
  border-bottom: var(--mixin-Bf8Lyu1g8cO9si_border-bottom-width)
    var(--mixin-Bf8Lyu1g8cO9si_border-bottom-style)
    var(--mixin-Bf8Lyu1g8cO9si_border-bottom-color);
  border-left: var(--mixin-Bf8Lyu1g8cO9si_border-left-width)
    var(--mixin-Bf8Lyu1g8cO9si_border-left-style)
    var(--mixin-Bf8Lyu1g8cO9si_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin--cYRjsR3-Yw_Cn_background);
  font-family: var(--mixin--cYRjsR3-Yw_Cn_font-family);
  border-radius: var(--mixin--cYRjsR3-Yw_Cn_border-top-left-radius)
    var(--mixin--cYRjsR3-Yw_Cn_border-top-right-radius)
    var(--mixin--cYRjsR3-Yw_Cn_border-bottom-right-radius)
    var(--mixin--cYRjsR3-Yw_Cn_border-bottom-left-radius);
  padding: var(--mixin--cYRjsR3-Yw_Cn_padding-top)
    var(--mixin--cYRjsR3-Yw_Cn_padding-right)
    var(--mixin--cYRjsR3-Yw_Cn_padding-bottom)
    var(--mixin--cYRjsR3-Yw_Cn_padding-left);
  border-top: var(--mixin--cYRjsR3-Yw_Cn_border-top-width)
    var(--mixin--cYRjsR3-Yw_Cn_border-top-style)
    var(--mixin--cYRjsR3-Yw_Cn_border-top-color);
  border-right: var(--mixin--cYRjsR3-Yw_Cn_border-right-width)
    var(--mixin--cYRjsR3-Yw_Cn_border-right-style)
    var(--mixin--cYRjsR3-Yw_Cn_border-right-color);
  border-bottom: var(--mixin--cYRjsR3-Yw_Cn_border-bottom-width)
    var(--mixin--cYRjsR3-Yw_Cn_border-bottom-style)
    var(--mixin--cYRjsR3-Yw_Cn_border-bottom-color);
  border-left: var(--mixin--cYRjsR3-Yw_Cn_border-left-width)
    var(--mixin--cYRjsR3-Yw_Cn_border-left-style)
    var(--mixin--cYRjsR3-Yw_Cn_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-GXV6SEwfebaQbK_display);
  flex-direction: var(--mixin-GXV6SEwfebaQbK_flex-direction);
  align-items: var(--mixin-GXV6SEwfebaQbK_align-items);
  justify-content: var(--mixin-GXV6SEwfebaQbK_justify-content);
  list-style-position: var(--mixin-GXV6SEwfebaQbK_list-style-position);
  padding-left: var(--mixin-GXV6SEwfebaQbK_padding-left);
  position: var(--mixin-GXV6SEwfebaQbK_position);
  list-style-type: var(--mixin-GXV6SEwfebaQbK_list-style-type);
  flex-column-gap: var(--mixin-GXV6SEwfebaQbK_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-SW88okU20Kf5og_display);
  flex-direction: var(--mixin-SW88okU20Kf5og_flex-direction);
  align-items: var(--mixin-SW88okU20Kf5og_align-items);
  justify-content: var(--mixin-SW88okU20Kf5og_justify-content);
  list-style-position: var(--mixin-SW88okU20Kf5og_list-style-position);
  padding-left: var(--mixin-SW88okU20Kf5og_padding-left);
  position: var(--mixin-SW88okU20Kf5og_position);
  list-style-type: var(--mixin-SW88okU20Kf5og_list-style-type);
  flex-column-gap: var(--mixin-SW88okU20Kf5og_flex-column-gap);
}
