.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
}
.freeBox__mZzed {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__tr6BQ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  background: #0000002e;
  min-width: 0;
  padding: 32px 24px;
}
.freeBox__tr6BQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__tr6BQ > :global(.__wab_flex-container) > *,
.freeBox__tr6BQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tr6BQ > :global(.__wab_flex-container) > picture > img,
.freeBox__tr6BQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__ucpaS {
  position: relative;
  font-size: 28px;
  color: var(--token-aPKoVTR0k0HkaX);
}
.text__lHcT1 {
  position: relative;
  color: var(--token-EG03jkGc2nLP5d);
  font-size: 40px;
}
.text___4Mdsc {
  position: relative;
  color: var(--token-jUUyhOsPXKa9GE);
}
.freeBox___8Fcea {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.freeBox___8Fcea > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8Fcea > :global(.__wab_flex-container) > *,
.freeBox___8Fcea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Fcea > :global(.__wab_flex-container) > picture > img,
.freeBox___8Fcea
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__sbJA {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__sbJA > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__sbJA > :global(.__wab_flex-container) > *,
.freeBox__sbJA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sbJA > :global(.__wab_flex-container) > picture > img,
.freeBox__sbJA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___2Fgrx {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__rk7D5 {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__nWvRf {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
